@model IEnumerable<ITICDE.Models.User>

@{
    ViewData["Title"] = "UsersDetails";
}

<h1>Team Data</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationType)
                </th>
				<th>
                    @Html.DisplayNameFor(model => model.Discipline)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discipline)
                    </td>
                    <td>
                </tr>
            }
        </tbody>
    </table>
</div>

