@using System.Security.Claims

@model IEnumerable<ITICDE.Models.User>

@{
    ViewData["Title"] = "ViewUser";
}

<h1>ViewUser</h1>
<head>
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>

@{var ThisProject = (ITICDE.Models.Project)ViewBag.project;}
@{if (ThisProject.Users.Count==0)
{}
else
{ 
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discipline)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var item in Model)
            {
                if (item.WorkonProjects.Contains(ThisProject))
                {
                    <tr>
                        <td><i class="fas fa-user"></i></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrganizationType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discipline)
                        </td>
                        @{
                            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            if (userId == ThisProject.CreatorUserId)
                            {
                                <td>
                                    <a asp-action="DeleteUser" asp-route-ProjectUser="@item.Id" 
                asp-route-projectId="@ThisProject.Id" class="btn btn-info btn-sm"> 
                                        <i class="fa-solid fa-user-plus"></i> &nbsp; Delete</a>  
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}}

<hr />
<a  asp-controller="Team" asp-action="Index" class="btn btn-outline-dark"> 
    <i class="fa-solid fa-circle-left"></i> Back </a>
    &nbsp;&nbsp;
    @*<a align="right" asp-action="AddUser" asp-route-projectId="@ThisProject.Id" class="btn btn-outline-secondary"> 
    <i class="fa-solid fa-circle-right"></i> Add Users</a>*@


