@using System.Security.Claims
@{ Layout = "_ProjectsLayout";}

@model IEnumerable<ITICDE.Models.Project>

@{
    ViewData["Title"] = "Index";   
}
@{var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
  var userLog = (ITICDE.Models.User)ViewBag.userLog;}

<head>
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>


<h1 style="margin:25px 0px 0 25px">Projects</h1>
<p style= "display:flex;justify-content:flex-end;">
 <a asp-action="Create" class="btn btn-primary" style="margin:25px;">  <i class="fas fa-folder" > </i> Create New</a>    
</p>

@foreach (var item in Model)
{
    if(item.Users!=null && item.Users.Any(u=>u.Id==userId)||item.CreatorUserId==userId){
    <a asp-controller="Folders" asp-action="Redirect" asp-route-ProjectId="@item.Id" >
    <div class="card " style="width:350px; height:auto; display:inline-block; margin:0px 25px 20px" >
        <div style="height:auto;"> <img height="250"  src="/dist/img/Project-placeholder.png" class="card-img-top rounded-top" alt="..."> </div>
        <div class="card-body">
            <b style="color:saddlebrown; font-size:21px" > @Html.DisplayFor(c=>item.Name) </b> 
            <br>
            <p class="card-text" style="color:black; text-overflow: ellipsis; white-space:nowrap; overflow: hidden;">           
            @Html.DisplayFor(modelItem => item.Description)
            </p>
                 <hr>
                <a style="margin:5px; "  asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info fa-lg"></i>  Details</a> 
                
                @{
                    if (userId == item.CreatorUserId)
                    {                    
                        <a style="margin:5px" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i> Delete</a>
                    
                        <a style="margin:5px" asp-action="AddUser" asp-route-projectId="@item.Id" class="btn btn-secondary btn-sm"> <i class="fa-solid fa-user-plus"></i> Add Members</a>
                    }
                }
        </div>
    </div>
    </a>
}}


    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>

