@using System.Security.Claims

@model IEnumerable<ITICDE.Models.User>
@{var ThisProject = (ITICDE.Models.Project)ViewBag.project;
var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);}

@{
    ViewData["Title"] = "ViewUser";
}

<h1>@ThisProject.Name users</h1>
<head>
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>


@{if (ThisProject.Users.Count==0)
{}
else
{ 
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    Organization Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discipline)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var item in Model)
            {
                if (item.WorkonProjects.Contains(ThisProject))
                {
                    <tr>
                        <td><i class="fas fa-user"></i></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrganizationType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discipline)
                        </td>
                        @{
                            
                            if (userId == ThisProject.CreatorUserId)
                            {
                                <td>
                                    <a asp-action="DeleteUser" asp-route-ProjectUser="@item.Id" 
                asp-route-projectId="@ThisProject.Id" class="btn btn-info btn-sm"> 
                                        <i class="fa-solid fa-user-slash"></i> &nbsp; Delete</a>  
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}}

<hr />
<a  asp-controller="Folders" asp-action="Index" asp-route-projectId="@ThisProject.Id"class="btn btn-outline-dark"> 
    <i class="fa-regular fa-building"></i> Go To project </a>
    &nbsp;&nbsp;
@{if (ThisProject.CreatorUserId == userId)
    {
    <a asp-action="AddUser" asp-route-projectId="@ThisProject.Id" class="btn btn-outline-secondary"> 
            <i class="fa-solid fa-user-plus"></i> Add Users</a>
    }
    else
    {
        <a asp-action="Details" asp-route-id="@ThisProject.Id" class="btn btn-outline-secondary"> 
            <i class="icon fas fa-info"></i> &nbsp;Details </a>
    }
}


