@model ITICDE.Models.Task
@using ITICDE.Enums
@using System.Security.Claims

@{
    ViewData["Title"] = "Create";
    var user = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var projid = (int)ViewBag.Projid;
    var viewid = (int)ViewBag.Vieid;
    var ViewName=(string)ViewBag.ViewName;
}
 <head>
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>
<h1>CreateTask</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <select asp-for="Progress" class="form-control" asp-items="Html.GetEnumSelectList<Progress>()">
                    <option disabled selected> --Choose Task Progress--</option>
                    </select>
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<Priority>()">
                <option disabled selected> --Choose Task Priority--</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <select asp-for="CreatorUserId" class ="form-control" asp-items="ViewBag.CreatorUserId"></select>
            </div>*@
            
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Project</label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId" disabled >
                        <option disabled selected>@projid</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AssignedtoUserId" class="control-label">Assign to User </label>
                <select asp-for="AssignedtoUserId" class ="form-control" asp-items="ViewBag.AssignedtoUserId">
                <option disabled selected> --Choose User--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label">Assign To Team</label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId">
                    <option disabled selected>--Choose Team--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ViewId" class="control-label">Attach View</label>
                <select asp-for="ViewId" class ="form-control" asp-items="ViewBag.ViewId" disabled>
                    <option disabled selected>@ViewName</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-CreatorUserId="@user" asp-route-ProjectId="@projid" asp-route-ViewId="@viewid" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary" asp-route-ProjectId="@projid"><i class="fa-solid fa-circle-left"></i> &nbsp;Back to List</a>
</div>

