@model ITICDE.Models.Folder

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            Creator User 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorUser.Name)
        </dd>
        
    </dl>
</div>
<div>
     @if (Model.ParentId == 0)
                {
                    <a asp-action="Index" asp-route-ProjectId="@Model.ProjectId" class="btn btn-outline-dark"><i class="fa-solid fa-circle-left"></i> Back to List</a>
                }
                else
                { <a asp-action="InnerDet" asp-route-id="@Model.ParentId" asp-route-projectId="@Model.ProjectId" class="btn btn-outline-secondary">Back to List</a>}

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info"> <i class="fa-solid fa-pen-to-square fa-lg"></i>&nbsp;Edit</a>

    
</div>
