@model ITICDE.Models.Folder

@{
    ViewData["Title"] = "Edit";
    var usrid = UserManager.GetUserAsync(User).Result.Id;

    var ProjId = HttpContextAccessor.HttpContext.Session.GetInt32("projid");
    
}

<h1>Edit @Model.Name</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" asp-route-ParentId="@Model.ParentId" asp-route-ProjectId="@ProjId" asp-route-UserId="@usrid" value="Save" class="btn btn-primary" />
                @if (Model.ParentId == 0)
                {
                    <a asp-action="Index" asp-route-ProjectId="@ProjId" class="btn btn-outline-secondary">Back to List</a>
                }
                else{ <a asp-action="InnerDet" asp-route-id="@Model.ParentId" asp-route-projectId="@Model.Project" class="btn btn-outline-secondary">Back to List</a>}
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
