@using System.Security.Claims
@model IEnumerable<ITICDE.Models.Folder>

@{
    ViewData["Title"] = "Index";
    var user = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var ProjId = (int)ViewBag.ProjId;
    var project = (string)ViewBag.project;
}
<head>
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>

<h1>@project</h1>
<a style="margin-top:30px" asp-action="Index" asp-controller="Project" class="btn btn-outline-dark"><i class="fa-solid fa-circle-left"></i> &nbsp; Back</a>

<p style="display:flex;justify-content:flex-end;">
 <a id="mybtn" asp-action="Create" asp-route-ProjectId="@ProjId" class="btn btn-primary" style="margin:25px;"><i class="fa-solid fa-folder-plus fa-lg"></i> &nbsp; Add Folder</a>
</p>


<table class="table" style="text-align:center">
    <thead>
		
        <tr>
			<th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
        </tr>
    </thead>
    <tbody>
        
       
@foreach (var item in Model) 
    {

            if (item.HasParent == false && ProjId == item.ProjectId)
            {
                <tr>
					<td><i class="fas fa-folder"></i></td>
                    <td>
                        
                        <a asp-action="InnerDet" asp-route-Id = "@item.Id" >@item.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                    <td>
                        @if(item.UserId == user)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info "> <i class="fa-solid fa-pen-to-square fa-lg"></i> &nbsp; Edit</a>  
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger "> <i class="fas fa-trash fa-lg"></i> &nbsp; Delete</a>
                            }
                      <a  src="/open-iconic/svg/icon-name.svg" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary "><i class="fa-solid fa-circle-info fa-lg"></i> &nbsp; Details</a> 
                    </td>
                </tr>
            }
    }
    
    </tbody>
</table>

<style>

#mybtn{
        position: absolute;
    right: 40px;
    top: 85px;
}

</style>
@*<div>
    <h2>Upload Multiple Files</h2>
    <form method="post" asp-controller="Folders" 
    asp-action="MultipleFilesInProject" enctype="multipart/form-data" asp-route-projectId="@ProjId">
    <input type="file" name="files" multiple/>
    <button class="btn btn-primary" type="submit" >Submit</button>
    <hr />
</form>
</div>*@
@*@{var files =project.Files.FindAll(f=>f.FolderId==0);}
@if(project.Files.Count()!=0)

{
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <table class = "table-responsive table-bordered">
        <tr>
            <th width="400px" style="text-align :center">File Name </th>
            <th width="400px" style="text-align :center">File Type </th>
            

        </tr>
        @foreach (var item in project.Files)
        if(files.Contains(item))
        {
            {<tr>
                @{if (item.Type == ".pdf"||item.Type ==".jpg"||item.Type ==".gif"||item.Type ==".png"||item.Type ==".mp4"||item.Type ==".vlc"||item.Type==".ifc")
                    {
                                                        <td style="text-align :center"><a asp-action="ViewFiles" asp-route-Id = "@item.Id" >@item.Name.Split('_').First()</a></td>
                        }
                        else
                        {
                                                        <td style="text-align :center">@item.Name.Split('_').First()</td>
                        }
                    }
                
                    
                    <td style="text-align :center">@item.Type</td>
                    <td ><a href="/Folders/DownloadFile?fileName=@item.Name" class="btn btn-primary">Download</a></td>
                    <td ><a href="/Folders/DeleteFile?Id=@item.Id" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            }
        }
    </table>
</div>
}*@


