@using System.Security.Claims
@model ITICDE.Models.Folder
@{
    ViewData["Title"] = "InnerDet";
    var user = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<head>
    <script src="https://kit.fontawesome.com/056ba6c557.js" crossorigin="anonymous"></script>
</head>
<h1>@Model.Name</h1>
<br />
<a asp-action="InnerDet" asp-route-id="@Model.ParentId" asp-route-projectId="@Model.ProjectId" class="btn btn-outline-dark"><i class="fa-solid fa-circle-left"></i> &nbsp; Back</a>
<a style="margin-left : 20px" asp-action="CreateInnerFolder" asp-route-id="@Model.Id" class="btn btn-primary" > <i class="fa-solid fa-folder-plus fa-lg"></i> &nbsp; Add Folder</a>
    <form method="post" asp-controller="Folders" 
    asp-action="MultipleFiles" enctype="multipart/form-data" asp-route-Id="@Model.Id">
    <label for="file-upload" class="custom-file-upload">
    <i class="fa fa-cloud-upload"></i> Custom File Upload
</label>
<input id="file-upload" type="file" name="files" multiple hidden/>
    @*<input type="file"   style="display: none;"/>*@
    <button id="mybtn" \ class="btn btn-primary" type="submit" >Submit</button>
    <hr />
</form>
@if (Model.InnerFolders.Count != 0 || Model.Files.Count != 0)
{
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Creation Date
                </th>
                <th>
                    Creator User
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.InnerFolders)
            {
                <tr style="background-color: #f2f2f2;">
                    <td><i class="fa-solid fa-folder fa-xl"></i></td>
                    <td>
                        <a asp-action="InnerDet" asp-route-id="@item.Id" >@item.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.CreatorUser.Name)
                    </td>
                    <td>
                        @if(item.UserId==user)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"> <i class="fa-solid fa-pen-to-square fa-lg"></i>&nbsp; Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> <i class="fas fa-trash fa-lg"></i> &nbsp; Delete</a>
                        }
                        <a  src="/open-iconic/svg/icon-name.svg" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-circle-info fa-lg"></i> &nbsp; Details</a> 
                    </td>
                </tr>
            }
            @if (Model.Files.Count() != 0)
            {
                @foreach (var item in Model.Files)
                {
                    <tr>
                        @{
                            if (item.Type == ".pdf")
                            {
                                    <td><i class="fa-solid fa-file-pdf fa-lg"></i></td>
                            }
                            else if (item.Type == ".jpg" || item.Type == ".png" || item.Type == ".PNG" || item.Type == ".jpeg" || item.Type == ".JPEG" || item.Type == ".JPG")
                            {
                                    <td><i class="fa-solid fa-image fa-lg"></i></td>
                            }
                            else if (item.Type == ".mp4" || item.Type == ".MP4" || item.Type == ".vlc" || item.Type == ".VLC")
                            {
                                    <td><i class="fa-solid fa-video fa-lg"></i></td>
                            }
                            else if (item.Type == ".ifc")
                            {
                                    <td><img src="/Images/ifc.png" style="width : 25px" /></td>
                            }
                            else if(item.Type == ".dwg" || item.Type == ".DWG")
                            {
                                    <td><img src="/Images/Autocad.png" style="width : 30px" /></td>
                            }
                            else if(item.Type == ".xlsx" || item.Type == ".XSLX")
                            {
                                    <td><i class="fa-solid fa-file-excel fa-lg"></i></td>
                            }
                            else if(item.Type == ".docx" || item.Type == ".DOCX")
                            {
                                    <td><i class="fa-solid fa-file-word fa-lg"></i></td>
                            }
                            else if(item.Type == ".csv" || item.Type == ".CSV")
                            {
                                    <td><i class="fa-solid fa-file-csv"></i></td>
                            }
                            else if (item.Type == ".rvt" || item.Type == ".RVT")
                            {
                                <td><img src="/Images/Revit.png" style="width : 25px" /></td>
                            }
                            else
                            {
                                    <td><i class="fa-solid fa-file fa-lg"></i></td>
                            }
                        }
                        @{
                            if (item.Type == ".pdf" || item.Type == ".jpg" || item.Type == ".gif" || item.Type == ".png" || item.Type == ".mp4" || item.Type == ".vlc" || item.Type == ".ifc" || item.Type == ".PNG" || item.Type == ".jpeg" || item.Type == ".JPEG" || item.Type == ".JPG")
                            {
                                    <td style="text-align :center"><a asp-action="ViewFiles" asp-route-Id = "@item.Id" >@item.Name.Split(';').First()@item.Type</a></td>
                            }
                            else
                            {
                                    <td style="text-align :center">@item.Name.Split(';').First()@item.Type</td>
                            }
                        }


                        <td style="text-align :center">@item.UploadDate</td>
                        <td style="text-align :center">@item.CreatorUser.Name</td>
                        <td>
                            @if(item.CreatorUserId == user)
                            {
                                <a href="/Folders/DeleteFile?Id=@item.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can fa-lg"></i> &nbsp; Delete</a>
                            }
                            <a href="/Folders/DownloadFile?fileName=@item.Name" class="btn btn-outline-success"> <i class="fa-solid fa-download fa-lg"></i> &nbsp; Download</a>
                            
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
<br /> <br />
    

<style>
input[type="file"] {
    
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    position: absolute;
    right: 122px;
    top: 100px;
}
#mybtn{
        position: absolute;
    right: 20px;
    top: 100px;
}

</style>